body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #093545;
  color: white;
}

.background-image {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100px;
  display: block;
  bottom: 0px;
}

.empty-movie-list {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.movies {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination-button {
  border: none;
  color: white;
  font-size: 16px;
  background: none;
  cursor: pointer;
}

.pagination-button-number {
  color: white;
  font-size: 16px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  margin: 0 4 0 4;
}

.manage-movie {
  display: flex;
  flex-direction: column;
  padding: 48px 24px 0 80px;
}

.manage-movie-mobile {
  display: flex;
  flex-direction: column;
  padding: 40px 24px 0 24px;
}

.manage-movie-form {
  display: flex;
  flex-direction: row;
  padding: 48px 0 0 0;
}

.manage-movie-mobile-form {
  display: flex;
  flex-direction: column;
  padding: 48px 0 0 0;
}

.right-pane {
    justify-content: start;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    color: white;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .title {
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  
  .icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    @media (min-width: 600px) {
      height: 24px;
      width: 24px;
    };
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  